<div class="main">
  <div class="side-navbar">
    <div class="side-navbar-container">
      <div class="side-navbar-item active" (click)="onClick(0)">
        <a routerLink="/dashboard">Home</a>
      </div>
      <div class="side-navbar-item" (click)="onClick(1)">
        <a>Vision</a>
      </div>
      <div class="side-navbar-item" (click)="onClick(2)">
        <a>About</a>
      </div>
      <div class="side-navbar-item" (click)="onClick(3)">
        <a>Contact</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-container">
      <p> Welcome to the dashboard of ng theme</p>
    </div>
  </div>
</div>
